<template name="uniComponent">
    {{setComponent}}
    {{#if Template.contentBlock}}
        {{setContentBlocks Template.contentBlock Template.elseBlock}}
    {{/if}}
    {{#if inEditMode}}
        <div class="unicms__component unicms__component--edit unicms__component__{{name}}">
            {{> afQuickField name=name type=getComponentType value=value}}
        </div>
    {{else}}
        <div class="unicms__component unicms__component--view unicms__component__{{name}}">
            {{> Template.dynamic template=getTemplate data=getData}}
        </div>
    {{/if}}
</template>
