<template name="uniEntity">
    {{setEntity}}
    {{#if doc}}
        {{#if isUpdate}}
            {{setHooks 'update' getUpdateFormId}}
            {{#autoForm
            collection=getCollection
            doc=doc
            id=getUpdateFormId
            type='update'}}
                {{#if Template.contentBlock}}
                    {{> Template.contentBlock .}}
                {{else}}
                    {{> _uniEntityDefaultView .}}
                {{/if}}
            {{/autoForm}}
        {{else}}
            {{#if Template.contentBlock}}
                {{> Template.contentBlock .}}
            {{else}}
                {{> _uniEntityDefaultView .}}
            {{/if}}
        {{/if}}
    {{else}}
        {{#if eq type 'insert'}}
            {{setHooks type getInsertFormId}}
            {{setEditMode true}}
            {{#if Template.contentBlock}}
                {{#autoForm
                collection=getCollection
                id=getInsertFormId
                type=type}}
                    {{> Template.contentBlock .}}
                {{/autoForm}}
            {{else}}
                {{#autoForm
                collection=getCollection
                id=getInsertFormId
                type=type}}
                    {{> _uniEntityDefaultView .}}
                {{/autoForm}}
            {{/if}}
        {{else}}
            {{#if Template.elseBlock}}
                {{> Template.elseBlock .}}
            {{else}}
                404
            {{/if}}
        {{/if}}
    {{/if}}
</template>

<template name="_uniEntityDefaultView">
    <div class="panel panel-primary">
        {{#each getSchemaFields}}
                {{#with component}}
                    <div class="panel-body">
                        {{> uniComponent name=name doc=../../doc editMode=../../editMode}}
                    </div>
                    {{else}}
                    <div class="panel-body">
                        {{#with ..}}
                            {{> afQuickField name=../name}}
                        {{/with}}
                    </div>
                {{/with}}
        {{/each}}
        {{#if or ../editMode doc.editMode}}
            {{> uniEntityEditViewDefaultSubmit}}
        {{/if}}
    </div>
</template>

<template name="uniEntityEditViewDefaultSubmit">
    {{#if inEditMode}}
        <div class="panel-footer">
            {{#if doc}}
                <button class="btn btn-danger pull-left js-delete">Delete</button>
            {{/if}}
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </div>
    {{/if}}
</template>
