<template name="UniCMSEntityListing">
    <div class="row">
        <div class="col-sm-12">
            {{#each items}}
                <div class="row">
                    <div class="col-sm-12">
                        {{> uniEntity doc=this}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>
